@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gowun Dodum', 'Pretendard', 'Noto Sans KR', sans-serif;
}
